<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>About us | Contact Us | Address</mat-card-title>
    <mat-card-subtitle>familier with us</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
 
<footer class="page-footer font-small blue pt-4">

  
  
  
  <div class="footer-copyright">© 2019 Copyright:
    <a href="##">Candy factory Group CyberLabs</a>
  </div>
 

</footer>

  </mat-card-content>
  
</mat-card>
