<mat-card class="matcard">

       
  <div class="header" >
  <div>
      <!-- Candy Factory Inventory Management System -->
      CFIMS

      </div>
      <div class="headerr">Candy Factory Inventory Management System</div>
  </div>
  
  

  <mat-form-field class="searchBar"  >
      <input matInput  placeholder="Search your Item here" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class= "buttons">
    
    <button mat-raised-button color="warn"  (click)="loginUser()">{{action}}</button>
  </div>
</mat-card>
