<div *ngIf="islogedin">
    <h3></h3>
    <ul class="example-button-row3">
      <li><a  [routerLink]="['/slideshow']"   routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/all-movies']"  routerLinkActive="active">Item Collection</a></li>
      <li><a [routerLink]="['/profile-user']"  routerLinkActive="active" >My Account</a></li>
      <li><a [routerLink]="['/add-user']"  routerLinkActive="active" >EMPLOYEES</a></li>
      <li><a [routerLink]="['/add-movies']"  routerLinkActive="active" >ADD ITEMS</a></li>
      <li><a [routerLink]="['/all-history']"  routerLinkActive="active" >HISTORY</a></li>
    
      
    </ul>
    
    
    <h3></h3>
    <div class="example-button-row1" *ngIf="isadmin">
    
      <button mat-raised-button  (click)="addUser()">EMPLOYEES</button>
      <button mat-raised-button (click)="addMovies()">ITEMS</button>
      <button mat-raised-button (click)="allHistory()">HISTORY</button>
      
    
      
    </div>
    <h3></h3>
  </div>
