<div *ngIf="islogedin">
    <h3></h3>
    <ul class="example-button-row3">
      <li><a  [routerLink]="['/slideshow']"   routerLinkActive="active">Home</a></li>
      <li><a [routerLink]="['/all-books']"  routerLinkActive="active">Item Collection</a></li>
      <li><a [routerLink]="['/profile-user']"  routerLinkActive="active" >My Account</a></li>
    
      
    </ul>
    
    
    <h3></h3>
    <div class="example-button-row1" *ngIf="isadmin">
    
      <button mat-raised-button  (click)="addBook()">EMPLOYEES</button>
      <button mat-raised-button (click)="addAuthor()">ITEMS</button>
      <button mat-raised-button (click)="borrowBook()">HISTORY</button>
      
    
      
    </div>
    <h3></h3>
  </div>
